extends ../layouts/default

append config
  - var pageSub = ''
  - var bkgImg = '/images/bkg-img/contact.png'

block content
  .container

    h3 Let's hold off on the conquering for a minute.
    p
      | At least while you're getting in touch with me. After we've established
      | some rapport, we can get back at it together. Please send me a message 
      | if you are interested in guest posts, business opportunities, or contracting
      | me to design and code your blog/website. I look forward to hearing from
      | you soon!
    p
      | Email: jpz@conquistar.us
