- var pageTitle = 'Divide and Conquer';

- var metaDesc = "Blog of J.P. Zivalich on language, travel, teaching, personal finance, and business building.";

- var bkgImg = '/images/bkg-img/d&q2.png';

- var pageHead= '';

- var pageSub = "Life's short. Let's make the most of it together.";

- var fbImg = '/images/mini.png';

- var pageUrl = location.href;

- var siteName = 'Divide & Conquer';
