- var pageTitle = 'Divide and Conquer';

- var metaDesc = "Life's short. Let's make the most of it together.";

- var bkgImg = '/images/bkg-img/d&q2.png';

- var pageHead= '';

- var pageSub = "Life's short. Let's make the most of it together.";
